body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
  
}

header {
  background: #003366;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 30px;
  margin: 20px;
  background: white;
  border-radius: 8px;
  border-left: 5px solid #003366;
}

footer {
  background: #eee;
  text-align: center;
  padding: 20px;
}

button#topBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#topBtn:hover {
  background-color: #001f4d;
}
