/*Titre generaux , body, marge, <header>, <Footer>,Nav, margin, section et <article>*/
body
{
    background-color: rgb(255, 255, 255);
    font-size: 14px;
}
main
{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(174, 191, 255, 0.85);
}
header
{
    background-color: rgb(255, 255, 255);
    /*border: 3px solid red;*/
}
nav
{
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.950);
    border: 1px groove black;
    height:80px;
   
}


#grille
{
    display:flex;
    
}
.LogoSection
{
    display: flexbox;
    justify-content: right;
    vertical-align:top;
    margin-left: 900px;
}
.un
{
    background-color: #f4f4f4;
    margin-left: 30px;
    border: 1px solid blue;
}
.deux
{
    background-color: lightblue;
    margin-left: 300px;
    border: 1px solid blue;
}


   
article
{ 
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 18px;
}
h1
{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    text-align: center;
}

h2
{
   color: rgb(0, 59, 88);
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    font-size: 1.8rem;
    text-align: left;
}


h3
{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    font-size: 1.6rem;
    text-align: left;
}


h4
{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    text-align: left;
}


h5
{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-align: left;
}


h6
{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.0rem;
    text-align: left;
}
p
{
    margin-left: 3px;
    padding-left: 30px;
    padding-top: 25px;
    color: rgb(2, 2, 40);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.centre
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: navy;
    font-size: 1.4rem;
}
nav a
{
font-family: roboto,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1.2rem;
color: white;
font-weight: bold;
text-decoration: none;
padding:20px;
margin-left: 30px;
}
ul 
{
    text-decoration: none;
    text-align: left;
    
}
li
{
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 15px;
    margin-left: 15px;
}
/* Classe des logo france travail/Facefook/tunecore*/
.logo
{
    width: 80px;
    height: 80px;
    padding-left: 10px;
    padding: 16px;
    margin-left: 40px;
    margin: 4px;
    border-radius: 4px;
    
}

.btn {
  display:inline-block;
  justify-content: left;
  margin: 20px;
 
  padding: 12px 25px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 30px;
  
}
strong
{
    
    text-align: center;
    margin-left: 100px;
}




